body{
  margin:0;
  background:#020617;
  color:#fff;
  font-family:Arial, sans-serif;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  background:#020617;
  position:fixed;
  width:100%;
  top:0;
  z-index:1000;
}

h1{
  font-size:24px;
}

/* NAV */
nav{
  display:flex;
  gap:20px;
}

nav a{
  color:#fff;
  text-decoration:none;
  font-size:16px;
}

.menu-toggle{
  display:none;
  font-size:22px;
  cursor:pointer;
}

/* HERO */
.hero{
  text-align:center;
  padding-top:120px;
  height:100vh;
  position:relative;
}

#matrix{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
}

.hero h2, .hero p, .buttons{
  position:relative;
  z-index:1;
}

.tag{
  margin:10px 0;
  color:#aaa;
}

/* BUTTONS */
.btn{
  padding:10px 20px;
  margin:10px;
  border-radius:25px;
  text-decoration:none;
  font-weight:bold;
}

.primary{
  background:#00ffcc;
  color:#000;
}

.outline{
  border:1px solid #00ffcc;
  color:#00ffcc;
}

/* SECTIONS */
.section{
  padding:60px 20px;
  text-align:center;
}

/* SKILLS */
.skills{
  max-width:400px;
  margin:auto;
}

.bar{
  background:#111;
  border-radius:20px;
  overflow:hidden;
}

.bar div{
  height:8px;
  background:#00ffcc;
}

/* PROJECTS */
.project-card{
  background:#0f172a;
  margin:10px;
  padding:20px;
  border-radius:10px;
}

/* FORM */
form input, textarea{
  width:90%;
  margin:10px auto;
  padding:10px;
  display:block;
  background:#020617;
  color:#fff;
  border:1px solid #00ffcc;
}

button{
  background:#00ffcc;
  color:#000;
  border:none;
  padding:10px 20px;
  border-radius:20px;
}

/* MOBILE */
@media(max-width:768px){
  nav{
    position:absolute;
    top:60px;
    right:0;
    background:#020617;
    flex-direction:column;
    width:200px;
    display:none;
    padding:20px;
  }

  nav.active{
    display:flex;
  }

  .menu-toggle{
    display:block;
  }
}
